    nav {
    	font-family: 'Noto Sans TC', "Segoe UI", "Microsoft JhengHei", "微軟正黑體", "sans-serif";

    }

	.box {
		background-color: red;
		color: #000;
		border: 1px solid yellow;
	}

	.heroImage {
		background-image: url("../images/bg.jpg");
		border-radius: 0;
		background-size: cover;
		font-family: 'Noto Sans TC', "Segoe UI", "Microsoft JhengHei", "微軟正黑體", "sans-serif";

	}

    #news {
    	font-size: 0.93em;
    }

    .container {
    	font-family: 'Noto Sans TC', "Segoe UI", "Microsoft JhengHei", "微軟正黑體", "sans-serif";
    }
    #intro {
    	padding-bottom: 3em;
    	

    }
    .marginTop {
    	margin: 30px auto;
    }
    .marginTop p {
    	margin-top: 30px;
    	min-height: 70px;
    }
    
    #footerbg {
		background-color: rgba(42,43,47,0.96);
		color: rgba(255,255,255,0.8);
		font-family: 'Noto Sans TC', "Segoe UI", "Microsoft JhengHei", "微軟正黑體", "sans-serif";
	}
	.messenger {
		padding: 50px;
	}
	.mail:hover {
		color: #ff0000;
	}
	.social-links {
		margin-top: 4px;
		font-size: 15px;
	}
	.social-links li {
		display: block;
		margin-top: 10px;
		margin-left: -36px;
	}
	.social-links li a {
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}
	.social-links li a:hover {
		color: darkgrey;
	}
	.footer {
		font-family: 'Noto Sans TC', "Segoe UI", "Microsoft JhengHei", "微軟正黑體", "sans-serif";
	}